<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MsgCount" value="100" />
    <add key="ExcelFilePath" value="D:\T2XL.xlsx"/>
    <add key="ShowExcelUI" value="false"/>
    <add key="Naglot" value="5"/>
  </appSettings>
</configuration>